.login {
    text-align: center;
    width: 50%;
    margin-left: 20%;
    padding-bottom: 10px;
    border-radius: 5px;
    background: rgb(230,230,230);
    box-shadow: 2px 2px 5px rgb(200,200,200);
    box-shadow-blur: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    padding-right: 5%;
    padding-left: 5%;
}

@media (max-width: 600px) {
    .login {
        width: 80%;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 15px !important;
    }

    .login-input {
        font-size: 15px !important;
    }

    .login-button {
        font-size: 15px !important;
    }
}

.login-input {
    border-width: 0px;
    width: 100%;
    margin: 2px;
    font-size: 2vw;
    padding: 2px;
    box-shadow: 2px 2px 5px rgb(200,200,200);
    box-shadow-blur: 0;
    outline: none;
    color: #454545;
    border-bottom: 1px solid rgba(0,0,0,0);
    transition: border-color 0.3s;
}

.login-button {
    font-size: 2vw;
    border-width: 0px;
    background-color: #2E79B8;
    border-radius: 5px;
    opacity: 0.5;
    color: white;
    box-shadow: 2px 2px 5px rgb(200,200,200);
    box-shadow-blur: 0;
    transition: opacity 0.5s;
    outline: none;
    border: 1px solid rgba(0,0,0,0);
    padding: 10px;
}

.login-button:active {
    border: 1px solid rgb(200,200,200);
}

.login-input:focus {
    border-bottom: 1px solid red;
}
